---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list-response";

import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "@components/pokemons/PokemonCard.astro";
import Title from "@components/shared/Title.astro";

import {Icon} from 'astro-icon/components'

export const getStaticPaths = (async () => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const { results } = (await resp.json()) as PokemonListResponse;

  return results.map((res) => ({
    params: { name: res.name },
    props: { name: res.name, url: res.url },
  }));
}) satisfies GetStaticPaths;

const { name } = Astro.params;
const { url } = Astro.props;

const id = url.split("/").at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/legacy/${id}.ogg`;
---

<MainLayout title="Main Layout">
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <div class="flex flex-row">
        <a class="hover:text-blue-500" href="/">Regresar</a>
      <Title>{name}</Title>
      <button id="btn-favorite" data-name={name} data-id={id}>
        <Icon name="heart-line" size={30}></Icon>
        <Icon class="hidden" name="heart-full" size={30}></Icon>
      </button>
      </div>
      <PokemonCard url={url} name={name} isBig />
      <audio controls class="mt-5">
        <source src={audioSrc} type="audio/ogg" />
        Your browser does not support the audio element
      </audio>
    </div>
  </section>
</MainLayout>

<style>
#btn-favorite {
  @apply hover:animate-pulse
}
</style>

<script>
  interface FavoritePokemon {
    name:string;
    id: number;
  }

  document.addEventListener('astro:page-load', () => {
    const btnFavorite = document.querySelector('#btn-favorite') as HTMLButtonElement;
    if (!btnFavorite) return;
    const name = btnFavorite.dataset.name;
    const id = btnFavorite.dataset.id;

    btnFavorite.addEventListener('click', () => {

    })
  })

  

</script>