---
import type { GetStaticPaths } from "astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list-response";
import MainLayout from "../../layouts/MainLayout.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
  const data = (await resp.json()) as PokemonListResponse;
  return paginate(data.results, { pageSize: 20 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<MainLayout title="Pokemon Static">
  <h1 class="text-3xl my-8">Listado de Pokemon</h1>
  <section
    aria-label="Listado de Pokemons"
    class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-4"
  >
    {
      page.data.map((pokemon) => {
        return <PokemonCard name={pokemon.name} url={pokemon.url} />;
      })
    }
  </section>
  <section class="flex mt-10 gap-2 items-center">
    <a
      class:list={[
        "btn",
        {
          disabled: !page.url.prev,
        },
      ]}
      href={page.url.prev}>Anteriores</a
    >
    <a
      class:list={[
        "btn",
        {
          disabled: !page.url.next,
        },
      ]}
      href={page.url.next}>Siguientes</a
    >
    <div class="flex flex-1"></div>
    <span class="font-bold">Página {page.currentPage}</span>
  </section>
</MainLayout>

<style>
  .btn {
    @apply bg-blue-500 p-2 text-white rounded-md;
  }
  .disabled {
    @apply bg-gray-600 p-2 text-gray-400;
  }
</style>
